#history {

position:fixed;
bottom: 20px;
left: 300px;
}
  
#logout {

position:fixed;
bottom: 20px;
left: 80px;
}

#odznac{
position:fixed;
bottom: 20px;
left: 190px;
}

#notificationBar {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 40px;
background-color: #ffcc00;
color: black;
font-size: 16px;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
border-bottom: 2px solid black;
z-index: 1000;
white-space: nowrap;
}



body {
padding-top: 50px;
background-image: url('pozadi_l1.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

}



#backButton {
position: fixed;
top: 5px;
left: 10px;
padding: 5px 10px;
font-size: 16px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
z-index: 1100;
}

#backButton:hover {
background-color: #0056b3;
}

#title
{
background-color: #d4edda;

}
h1
{
list-style: none;
padding: 0;
max-width: 400px;
margin: 0 auto;
}
ul{
list-style: none;
padding: 0;
max-width: 1000px;
margin: 2 auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 5px;

li {
display: flex;
align-items: center;
padding: 5px 10px;
border: 1px solud #ccc;
margin-bottom: 5px;


}

li.completed {
background-color: #d4edda;
color: #155724;
text-decoration: line-through;
}
input[type="checkbox"] {
margin-right: 10px;
}    
body { font-family: Arial, sans-serif; margin: 20px; }
      
ul { list-style: none; padding: 0; }
       
li { padding: 5px 10px; border: 2px solid #ccc; margin-bottom: 10px; }
       
li.completed { text-decoration: line-through; color: gray; }
       
button { margin-left: 10px; }
